node_modules

# Output
.output
.vercel
apps/*/.svelte-kit
apps/*/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
