{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    { "files": "wrangler.jsonc", "options": { "trailingComma": "none" } }
  ]
}
