IMMICH_APP=buy.immich.app
PUBLIC_IMMICH_PAY_HOST=https://futopay-test.azurewebsites.net
# PUBLIC_IMMICH_SPEC_URL=http://localhost:3000/api/spec.json

# outline sync stuff
OUTLINE_API_KEY=
R2_BUCKET_NAME=static
R2_ENDPOINT_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_PUBLIC_URL=https://static.immich.cloud
