@custom-variant dark (&:where(.dark, .dark *):not(.light));

@theme {
  --font-immich-title: Snowburst One, cursive;
  --font-immich-mono: Overpass Mono, monospace;
}

@layer base {
  :root {
    /* light */
    --immich-primary: 66 80 175;

    /* dark */
    --immich-dark-primary: 172 203 250;
  }
}

@font-face {
  font-family: 'Google Sans';
  src: url('./fonts/GoogleSans/GoogleSans.ttf') format('truetype-variations');
  font-weight: 1 999;
  font-style: normal;
  ascent-override: 100%;
}

.text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

.border-muted{
  @apply border-gray-600 dark:border-gray-400;
}

:root.dark {
  color-scheme: dark;
}

:root:not(.dark) {
  color-scheme: light;
}

html {
  height: 100%;
  width: 100%;
  font-size: 17px;
}

body {
  margin: 0;
  font-family:
    'Google Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
