name: Docs destroy
on:
  pull_request_target:
    types: [closed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ['dev', 'prod']
        include:
          - app: my.immich.app
            name: my-immich
          - app: buy.immich.app
            name: buy-immich
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@v1

      - name: Install Terragrunt
        uses: eLco/setup-terragrunt@v1
        with:
          terragrunt_version: ${{ env.tg_version }}

      - name: 'Install OpenTofu'
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ env.tofu_version }}
          tofu_wrapper: false

      - name: Destroy All
        working-directory: ${{ github.workspace }}/deployment
        env:
          ENVIRONMENT: ${{ matrix.environment }}
          TF_VAR_app_name: ${{ matrix.name }}
          TF_VAR_dist_dir: ${{ github.workspace }}/dist
          TF_VAR_stage: pr-${{ github.event.number }}
          OP_SERVICE_ACCOUNT_TOKEN: ${{ matrix.environment == 'prod' && secrets.OP_TF_PROD_ENV || secrets.OP_TF_DEV_ENV }}
        run: op run --env-file=".env" -- terragrunt run-all destroy -refresh=false --terragrunt-non-interactive

      - name: Comment
        uses: actions-cool/maintain-one-comment@v3
        with:
          number: ${{ github.event.number }}
          delete: true
          body-include: '<!-- Docs PR URL -->'
